<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Administrar Solicitudes</title>
    <link rel="stylesheet" href="{{ asset('css/administrar_solicitudes.css') }}">
    <link rel="stylesheet" href="{{ asset('css/buscador.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap" rel="stylesheet">
    <!-- Agrega Font Awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<body>
    {% include 'cabecera.html.twig' %}
    <div>
        {% if is_granted('ROLE_ADMIN') and admin_soli == 1 %}
            <button type="button" class="boton_tabla botones-top" id="aceptar_seleccionados">Aceptar seleccionados</button>
            <button type="button" class="boton_tabla botones-top" id="denegar_seleccionados">Denegar seleccionados</button> 
        {% endif %}
        {% if is_granted('ROLE_ADMIN') and admin_devolver == 1 %}
            <button type="button" class="boton_tabla botones-top" id="aceptar_devoluciones">Aceptar devoluciones</button>
        {% endif %}
        {% if devolver == true %}
            <td><button type="button" class="boton_tabla botones-top" id="devolver_material">Devolver</button></td>
        {% endif %}
        {# {% if is_granted('ROLE_ADMIN') and calidad_admin == 1 %} #}
        {% if devolver == 1 or calidad_admin == 1 %}
            <button type="button" class="boton_tabla" id="seleccionar_todos">Seleccionar todo</button>
        {% endif %}
        <div class="search-box">
            <button class="btn-search"><i class="fas fa-search"></i></button>
            <input type="text" class="input-search" placeholder="Filtra por evento...">
        </div>
        <div>
            <!-- Aquí coloco un input de type hidden para posteriormente colocarle un valor en función de la variante de la página que se esté 
            mostrando. Esto es por el buscador, ya que no siempre el puntero (la columna de evento) va a permanecer en el mismo sitio, esto lo 
            hago gracias a las variables que uso en el controlador de SolicitudesController.php -->
            {% if admin_soli == 0 and calidad_admin == 0 and devolver == 0 and admin_devolver == 0 %}
            <input type="hidden" name="posicion_evento" id="posicion_evento" value="td:eq(6)">
            {% else %}
            <input type="hidden" name="posicion_evento" id="posicion_evento" value="td:eq(5)">
            {% endif %}

            <table>
                <thead>
                    <tr>
                        {% if is_granted('ROLE_ADMIN') and calidad_admin == true or devolver == true %}
                        <th scope="col">Seleccionar</th>
                        {% endif %}
                        <th scope="col">Id solicitud</th>
                        <th scope="col">Nombre del producto</th>
                        <th scope="col">Cantidad</th>
                        <th scope="col">Fecha préstamo</th>
                        <th scope="col">Fecha devolución</th>
                        <th scope="col">Usuario solicitante</th>
                        <th scope="col">Evento</th>
                        <th scope="col">Estado</th>
                        <th scope="col">Prestamista</th>
                        <th scope="col">Modificar</th>
                    </tr>
                </thead>
                <tbody>
                    {% for prestamo in prestamos %}
                        <tr>
                            {% if is_granted('ROLE_ADMIN') and calidad_admin == true or devolver == true %}
                            <td><input type="checkbox" class="checkbox-producto" data-id="{{ prestamo.idPrestamo }}"></td>
                            {% endif %}
                            {# {% if devolver == true %}
                                <td><input type="checkbox" class="checkbox-producto" data-id="{{ prestamo.idPrestamo }}"></td>
                            {% endif %} #}
                            <td>{{ prestamo.idPrestamo }}</td>
                            <td>{{ prestamo.codProducto.nombre }}</td>
                            <td>{{ prestamo.cantidad }}</td>
                            <td>{{ prestamo.fechaPrestamo|date('d-m-Y') }}</td>
                            <td class="fecha-devolucion" data-fecha="{{ prestamo.fechaDevolucion|date('Y-m-d') }}">
                                {{ prestamo.fechaDevolucion|date('d-m-Y') }}
                            </td>
                            <td>{{ prestamo.usuarioPrestamo.email }}</td>
                            <td>
                                {% if prestamo.evento is null %}
                                    -
                                {% else %}
                                    {{prestamo.evento}}
                                {% endif %}
                            </td>
                            <td>{{ prestamo.estado }}</td>
                            <td>
                                {% if prestamo.emailPrestamista is null %}
                                    -
                                {% else %}
                                    {{prestamo.emailPrestamista}}
                                {% endif %}
                            </td>
                            <td>
                                <form action="{{ path('dirigir_a_editar') }}" method="POST">
                                    {# Inputs ocultos para extraer valores necesarios #}
                                    <input type="hidden" name="sn" value="{{ prestamo.codProducto.sn }}" id="sn">
                                    <input type="hidden" name="id_prestamo" value="{{ prestamo.idPrestamo }}" id="id_prestamo">
                                    <button type="submit" class="boton_tabla">Modificar</button>
                                </form>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>    
    </div>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function() {
            // Evento de tecla al escribir en la caja de búsqueda
            $('.input-search').on('keyup', function() {
                let posicion_evento = document.getElementById("posicion_evento").value;
                let searchQuery = $(this).val().toLowerCase();

                // Iterar sobre las filas de la tabla
                $('tbody tr').each(function() {
                    const nombreProducto = $(this).find(posicion_evento).text().toLowerCase(); // Asume que el nombre del producto está en la columna 2 (índice 1)
                    
                    // Si el nombre contiene la búsqueda, mostrar la fila. Si no, ocultarla.
                    if (nombreProducto.includes(searchQuery)) {
                        $(this).css('display', '');  // Mostrar (restablecer a su valor predeterminado)
                    } else {
                        $(this).css('display', 'none');  // Ocultar la fila completamente
                    }
                });
            });

            // Cambiar color de texto de la fecha de devolución
            $('.fecha-devolucion').each(function() {
                const fechaDevolucion = new Date($(this).data('fecha'));
                const hoy = new Date();
                const diferencia = Math.ceil((fechaDevolucion - hoy) / (1000 * 3600 * 24)); // Diferencia en días

                if (diferencia > 7) {
                    $(this).addClass('text-verde');
                } else if (diferencia > 0) {
                    $(this).addClass('text-amarillo');
                } else {
                    $(this).addClass('text-rojo');
                }
            });

            // Función para seleccionar o desmarcar todos los checkboxes
            $('#seleccionar_todos').click(function() {
                const todosCheckboxes = $('.checkbox-producto');
                const todosSeleccionados = todosCheckboxes.filter(':checked').length === todosCheckboxes.length;

                // Si todos están seleccionados, desmarcar todos. Si no, seleccionarlos todos.
                todosCheckboxes.prop('checked', !todosSeleccionados);
            });

            // Acepta los préstamos seleccionados
            $('#aceptar_seleccionados').click(function() {
                const selectedIds = [];
                $('.checkbox-producto:checked').each(function() {
                    selectedIds.push($(this).data('id'));
                });

                if (selectedIds.length > 0) {
                    $.ajax({
                        url: '{{ path("procesar_aceptar") }}',
                        method: 'POST',
                        contentType: 'application/json',
                        data: JSON.stringify({ ids: selectedIds }),
                        success: function(response) {
                            if (response.status === 'success') {
                                alert("Validado.");
                            }
                            location.reload(); // Recargar sin verificar la respuesta
                        },
                        error: function(xhr) {
                            if (xhr.responseJSON && xhr.responseJSON.errors) {
                                let errors = xhr.responseJSON.errors.join('<br>');
                                alert("Error: " + errors);
                            } 
                            else {
                                alert("Ha ocurrido un error inesperado.");
                            }
                        }
                    });
                } else {
                    alert('No has seleccionado ninguna solicitud.');
                }
            });

            $('#denegar_seleccionados').click(function() {
                const selectedIds = [];
                $('.checkbox-producto:checked').each(function() {
                    selectedIds.push($(this).data('id'));
                });

                if (selectedIds.length > 0) {
                    $.ajax({
                        url: '{{ path('procesar_denegar') }}',
                        type: 'POST',
                        contentType: 'application/json',
                        data: JSON.stringify({ ids: selectedIds }),
                        success: function(response) {
                            // Manejo de la respuesta exitosa
                            console.log('Solicitud procesada:', response);
                            location.reload(); // Recargar sin verificar la respuesta
                        },
                        error: function(xhr) {
                            // Manejo de error
                            console.error('Error en la solicitud:', xhr);
                        }
                    });
                } else {
                    alert('No has seleccionado ninguna solicitud.');
                }
            });

            $('#devolver_material').click(function() {
                const selectedIds = [];
                $('.checkbox-producto:checked').each(function() {
                    selectedIds.push($(this).data('id'));
                });

                if (selectedIds.length > 0) {
                    $.ajax({
                        url: '{{ path('procesar_devolucion') }}',
                        type: 'POST',
                        contentType: 'application/json',
                        data: JSON.stringify({ ids: selectedIds }),
                        success: function(response) {
                            // Manejo de la respuesta exitosa
                            console.log('Solicitud procesada:', response);
                            location.reload(); // Recargar sin verificar la respuesta
                        },
                        error: function(xhr) {
                            // Manejo de error
                            console.error('Error en la solicitud:', xhr);
                        }
                    });
                } else {
                    alert('No has seleccionado ninguna solicitud.');
                }
            });

            $('#aceptar_devoluciones').click(function() {
                const selectedIds = [];
                $('.checkbox-producto:checked').each(function() {
                    selectedIds.push($(this).data('id'));
                });

                if (selectedIds.length > 0) {
                    $.ajax({
                        url: '{{ path('procesar_confirmar_devolucion') }}',
                        type: 'POST',
                        contentType: 'application/json',
                        data: JSON.stringify({ ids: selectedIds }),
                        success: function(response) {
                            // Manejo de la respuesta exitosa
                            console.log('Solicitud procesada:', response);
                            location.reload(); // Recargar sin verificar la respuesta
                        },
                        error: function(xhr) {
                            // Manejo de error
                            console.error('Error en la solicitud:', xhr);
                        }
                    });
                } else {
                    alert('No has seleccionado ninguna solicitud.');
                }
            });
        });
    </script>
</body>
</html>