<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Administrar Solicitudes</title>
    <link rel="stylesheet" href="{{ asset('css/selector.css') }}">
    <link rel="stylesheet" href="{{ asset('css/administrar_solicitudes.css') }}">
    <link rel="stylesheet" href="{{ asset('css/buscador.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap" rel="stylesheet">
    <!-- Agrega Font Awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<body>
    {% include 'cabecera.html.twig' %}
    <div id="contenedor_principal">
        <button type="button" class="boton_tabla botones-top" id="devolver_material">Devolver</button>
        <button type="button" class="boton_tabla" id="seleccionar_todos">Seleccionar todo</button>
        <div class="selector_estados">
                <select>
                    <option selected value="0">TODOS</option>
                    <option value="1">ACEPTADO</option>
                    <option value="2">DENEGADO</option>
                    <option value="3">EN ESPERA</option>
                    <option value="4">ESPERA DEVOLUCION</option>
                    <option value="5">DEVUELTO</option>
                </select>
            </div>
        <div class="search-box">
            <button class="btn-search"><i class="fas fa-search"></i></button>
            <input type="text" class="input-search" placeholder="Filtra por evento...">
        </div>
        <div>
            <!-- Valor para seleccionar la caja -->
            <input type="hidden" name="posicion_evento" id="posicion_evento" value="td:eq(5)">
            <table>
                <thead>
                    <tr>
                        <th scope="col">Seleccionar</th>
                        <th scope="col">Nombre del producto</th>
                        <th scope="col">Cantidad</th>
                        <th scope="col">Fecha préstamo</th>
                        <th scope="col">Fecha devolución</th>
                        <th scope="col">Evento</th>
                        <th scope="col">Estado</th>
                        <th scope="col">Prestamista</th>
                        <th scope="col">Modificar o devolucion parcial</th>
                    </tr>
                </thead>
                <tbody>
                    {% for prestamo in prestamos %}
                        <tr>
                            <td><input type="checkbox" class="checkbox-producto" data-id="{{ prestamo.idPrestamo }}"></td>
                            <td>{{ prestamo.codProducto.nombre }}</td>
                            <td>
                            {% if prestamo.estado == "ACEPTADO" %}
                            <input type="hidden" name="id_prestamo" value="{{prestamo.idPrestamo}}">
                            <input type="number" name="cantidad" class="cantidad-input" min="1" max = {{prestamo.cantidad}} value = "{{ prestamo.cantidad }}">
                            {% else %}
                            {{ prestamo.cantidad }}
                            {% endif %}
                            </td>
                            <td>{{ prestamo.fechaPrestamo|date('d-m-Y') }}</td>
                            <td class="fecha-devolucion" data-fecha="{{ prestamo.fechaDevolucion|date('Y-m-d') }}">
                                {{ prestamo.fechaDevolucion|date('d-m-Y') }}
                            </td>
                            <td>
                                {% if prestamo.evento is null %}
                                    -
                                {% else %}
                                    {{prestamo.evento}}
                                {% endif %}
                            </td>
                            <td>{{ prestamo.estado }}</td>
                            <td>
                                {% if prestamo.emailPrestamista is null %}
                                    -
                                {% else %}
                                    {{prestamo.emailPrestamista}}
                                {% endif %}
                            </td>
                            <td>
                                <form action="{{ path('dirigir_a_editar') }}" method="POST">
                                    {# Inputs ocultos para extraer valores necesarios #}
                                    <input type="hidden" name="sn" value="{{ prestamo.codProducto.sn }}" id="sn">
                                    <input type="hidden" name="id_prestamo" value="{{ prestamo.idPrestamo }}" id="id_prestamo">
                                    {% if prestamo.estado == "EN ESPERA" %}
                                    <button type="submit" class="boton_tabla">Modificar</button>
                                    {% elseif prestamo.estado == "ACEPTADO" %}
                                    <button type="submit" class="boton_tabla devolver_parcial">Devolver</button>
                                    {% else %}
                                    -
                                    {% endif %}
                                </form>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>    
    </div>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function() {
            // Evento de tecla al escribir en la caja de búsqueda
            $('.input-search').on('keyup', function() {
                let posicion_evento = document.getElementById("posicion_evento").value;
                let searchQuery = $(this).val().toLowerCase();

                // Iterar sobre las filas de la tabla
                $('tbody tr').each(function() {
                    const nombreProducto = $(this).find(posicion_evento).text().toLowerCase(); // Asume que el nombre del producto está en la columna 2 (índice 1)
                    
                    // Si el nombre contiene la búsqueda, mostrar la fila. Si no, ocultarla.
                    if (nombreProducto.includes(searchQuery)) {
                        $(this).css('display', '');  // Mostrar (restablecer a su valor predeterminado)
                    } else {
                        $(this).css('display', 'none');  // Ocultar la fila completamente
                    }
                });
            });

            // Cambiar color de texto de la fecha de devolución
            $('.fecha-devolucion').each(function() {
                const fechaDevolucion = new Date($(this).data('fecha'));
                const hoy = new Date();
                const diferencia = Math.ceil((fechaDevolucion - hoy) / (1000 * 3600 * 24)); // Diferencia en días

                if (diferencia > 7) {
                    $(this).addClass('text-verde');
                } else if (diferencia > 0) {
                    $(this).addClass('text-amarillo');
                } else {
                    $(this).addClass('text-rojo');
                }
            });

            // Función para seleccionar o desmarcar todos los checkboxes
            $('#seleccionar_todos').click(function() {
                const todosCheckboxes = $('.checkbox-producto');
                const todosSeleccionados = todosCheckboxes.filter(':checked').length === todosCheckboxes.length;

                // Si todos están seleccionados, desmarcar todos. Si no, seleccionarlos todos.
                todosCheckboxes.prop('checked', !todosSeleccionados);
            });

            // Devuelve todos los préstamos seleccionados
            $('#devolver_material').click(function() {
                const selectedIds = [];
                $('.checkbox-producto:checked').each(function() {
                    selectedIds.push($(this).data('id'));
                });

                if (selectedIds.length > 0) {
                    $.ajax({
                        url: '{{ path('procesar_devolucion') }}',
                        type: 'POST',
                        contentType: 'application/json',
                        data: JSON.stringify({ ids: selectedIds }),
                        success: function(response) {
                            // Manejo de la respuesta exitosa
                            console.log('Solicitud procesada:', response);
                            location.reload(); // Recargar sin verificar la respuesta
                        },
                        error: function(xhr) {
                            // Manejo de error
                            console.error('Error en la solicitud:', xhr);
                        }
                    });
                } else {
                    alert('No has seleccionado ninguna solicitud.');
                }
            });

            // Evento para manejar la devolución parcial
        $('.devolver_parcial').on('click', function(event) {
            event.preventDefault(); // Prevenir el envío normal del formulario

            // Encontramos la fila (tr) en la que se encuentra el botón que fue clickeado
            const row = $(this).closest('tr');

            // Extraemos los valores de los inputs dentro de esa fila
            const idPrestamo = row.find('input[name="id_prestamo"]').val();
            const cantidad = row.find('input[name="cantidad"]').val();

            console.log(idPrestamo + " " + cantidad);

            // Comprobamos si los valores fueron correctamente obtenidos
            console.log("ID Préstamo:", idPrestamo);
            console.log("Cantidad a devolver:", cantidad);

            if (!idPrestamo || !cantidad) {
                alert("Error: No se han podido obtener los valores de ID o cantidad.");
                return;
            }

            // Realizamos la solicitud AJAX para procesar la devolución parcial
            $.ajax({
                url: '{{ path('devolucion_parcial') }}', // La ruta a la acción del controlador
                type: 'POST',
                data: {
                    id_prestamo: idPrestamo,
                    cantidad: cantidad
                },
                success: function(response) {
                    alert('Devolución procesada correctamente.');
                    location.reload(); // Recargar la página para reflejar los cambios
                },
                error: function(xhr) {
                    alert('Hubo un error al procesar la devolución.');
                    console.error('Error en la solicitud:', xhr);
                }
            });
        });

        // Evento del selector de estado
            $('.selector_estados select').on('change', function() {
                const estadoSeleccionado = $(this).val(); // Obtener el valor seleccionado en el dropdown
                $('tbody tr').each(function() {
                    const estadoFila = $(this).find("td:eq(6)").text().trim(); // Suponemos que el estado está en la columna 9 (índice 8)

                    if (estadoSeleccionado === "0") {
                        // Mostrar todas las filas si se selecciona "TODOS"
                        $(this).show();
                    } else {
                        // Comparar el valor seleccionado con el estado de la fila
                        if (estadoFila === obtenerEstado(estadoSeleccionado)) {
                            $(this).show();  // Mostrar la fila si coincide el estado
                        } else {
                            $(this).hide();  // Ocultar la fila si no coincide
                        }
                    }
                });
            });

            // Función para devolver el estado en texto en función del valor del selector
            function obtenerEstado(valor) {
                switch (valor) {
                    case "1":
                        return "ACEPTADO";
                    case "2":
                        return "DENEGADO";
                    case "3":
                        return "EN ESPERA";
                    case "4":
                        return "ESPERA DEVOLUCION";
                    case "5":
                        return "DEVUELTO";
                    default:
                        return "";
                }
            }

        });
    </script>
</body>
</html>