<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="{{ asset('css/inicio.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap" rel="stylesheet">
    <!-- Agrega Font Awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<body>
    <!-- Incluir la cabecera -->
    {% include 'cabecera.html.twig' %}
    {% if is_granted('ROLE_ADMIN') %}
    <div class="contenedor_padre">
        <div class="contenedor_hijo">
            <a href="{{path('ctrl_login')}}">
                <img src="{{ asset('images/non-background-img/home.jpg') }}" alt=""><br>
                <p>Home</p>
            </a>  
        </div>
        <div class="contenedor_hijo">
            <a href="{{path('registro')}}">
                <img src="{{ asset('images/non-background-img/user_register.jpg') }}" alt=""><br>
                <p>Registrar usuario</p>
            </a>  
        </div>
        <div class="contenedor_hijo">
            <a href="{{path('mostrar_solicitudes')}}">
                <img src="{{ asset('images/non-background-img/solicitudes_2.jpg') }}" alt=""><br>
                <p>Gestionar solicitudes</p>
            </a>  
        </div>
        <div class="contenedor_hijo">
            <a href="{{path('mostrar_productos')}}">
                <img src="{{ asset('images/non-background-img/new_reg.jpg') }}" alt=""><br>
                <p>Modificar productos</p>
            </a>  
        </div>
        <div class="contenedor_hijo">
            <a href="{{path('dirigir_a_crear')}}">
                <img src="{{ asset('images/non-background-img/box_tool2.jpg') }}" alt=""><br>
                <p>Crear productos</p>
            </a>  
        </div>
        <div class="contenedor_hijo">
            <a href="{{path('ctrl_logout')}}">
                <img src="{{ asset('images/non-background-img/logout.jpg') }}" alt=""><br>
                <p>Logout</p>
            </a>  
        </div>
    </div>
    {% endif %}
</body>
</html>